*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
:root{
    --primeiracor:#23232e;
    --segundacor:#fff;
}

.sidebar::-webkit-scrollbar {
    width: 12px; /* tamanho do scroll */
  }
  
.sidebar::-webkit-scrollbar-track {
    background: var(--primeiracor); /* cor do fundo */
}
  
.sidebar::-webkit-scrollbar-thumb {
    background-color: var(--primeiracor); /* cor do scroll */
    border: none;
}



input:-webkit-autofill {
    -webkit-box-shadow:0 0 0 50px rgb(250, 248, 248) inset; /* aqui muda sua cor do fundo */
    -webkit-text-fill-color: black; /* Cor do texto */
}
/* <topbar> */
.topbar{
    position: fixed;
    background: var(--segundacor);
    box-shadow: 0 4px 8px 0 rgb(0, 0, 0, 0.08);
    width: 100%;
    height: 60px;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}

.logo{
    display: flex;
    align-items: center;
}

.logo h2{
    font-weight: bold;
    font-size: 20px;
    color: var(--primeiracor);
    white-space: nowrap;
}

.logo i{
    font-size: 20px;
    margin-right: 2px;
}

.search {
    position: relative;
    width: 250px;
    justify-self: center;
}

.search input{
    width: 100%;
    height: 35px;
    padding-left: 30px;
    font-size: 16px;
    outline: none;
    border: none;
    border-radius: 10px;
    background: #ededed;
}
.search input:focus{
    border: 2px solid black;
}

.search i{
    position: absolute;
    right: 100%;
    top: 3px;
    cursor: pointer;
    color: #888;
}

.lupa{
    position: absolute;
    right: calc(100% - 30px);
    top: 6px;
    cursor: pointer;
    width: 1px;
    border: none;
}

.avatar{
    width: 50px;
}
/* </topbar> */



/* <sidebar> */
.sidebar{
    position: fixed;
    top: 60px;
    width: 260px;
    height: calc(100% - 60px);
    background: var(--primeiracor);
    overflow-x: hidden;
}
.mobile{
    display: none;
}
/* </sidebar> */



/* <main> */

.main {
    position: absolute;
    top: 70px;
    width: calc(100% - 260px);
    left: 260px;
    min-height: calc(100vh - 60px);
    background: var(--segundacor);
}
.config{
    display: flex;
    justify-content: center;
    align-items: center;
}
.config a{
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
    text-decoration: none;
    color: black;
}

.cards{
    width: 100%;
    padding: 35px 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
}
.card{
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--segundacor);
    border-radius: 10px;
    width: 100%;
    box-shadow: 1px 4px 8px 2px rgb(0, 0, 0, 0.08);
}

.number {
    font-size: 35px;
    font-weight: 500;
    color: var(--primeiracor);
}
.card-name {
    color: #888;
    font-weight: 600;
    white-space: nowrap;
}
.icon-box i {
    font-size: 40px;
    color: var(--primeiracor);
}
.icon-box{
    margin-bottom: 20px;
}

/* <charts> */
.charts {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 20px;
    width: 100%;
    padding: 20px;
    padding-top: 0;
}

.chart{
    background: var(--segundacor);
    padding: 20px;
    border-radius: 10px;
    width: 100%;
    box-shadow: 1px 4px 8px 2px rgb(0, 0, 0, 0.08);
}
.chart h2{
    font-size: 20px;
    font-weight: bold;
    white-space: nowrap;
}

/* </charts> */

/* </main> */

/* ------- Resposividade ------- */
@media (max-width:1386px){
    .main {
        overflow-x: hidden;
    }

    .card-name {
        font-size: 13px;
    }

}



@media (max-width:1115px){
    .cards{
        grid-template-columns: repeat(2, 1fr);
    }
    
    .sidebar{
        width: 55px;
    }

    .main {
        left: 60px;
        width: calc(100% - 70px);
    }
    .desktop{
        display: none;
    }
    .mobile{
        display: block;
    }
}

@media (max-width:880px){
    .avatar{
        width: 30px;
    }
    /* <main> */
    .search-ano{
        display: block;
    }
    .search-ano .search-number input{
        width: 170px;
    }
    .chart{
        padding: 0px;
    }
    .chart h2{
        font-size: 14px;
    }
    #pie-chart {
        padding: 50px;
    }
    #pie {
        padding: 50px;
    }
    .charts{
        grid-template-columns: 1fr;
    }
    
    /* </main> */

}
@media (max-width:500px){
    
    /* <topbar> */
    .logo h2{
        font-size: 16px;
    }
    .logo i{
        font-size: 16px;
    }
    .search{
        width: 80%;
    }

    
    /* </topbar> */

    /* <main> */
    .cards{
        grid-template-columns: 1fr;
    }
    .card-name {
        white-space: unset;
    }
    #pie-chart{
        padding: 10px;
    }
    #barChart{
        padding: 20px;
        height:25vh;
    }
    #pie{
        padding: 0;
    }
    /* </main> */
}