*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

:root{
    --primeiracor:#23232e;
    --segundacor:#fff;
}


/* <topbar> */
.topbar{
    position: fixed;
    background: var(--segundacor);
    box-shadow: 0 4px 8px 0 rgb(0, 0, 0, 0.08);
    width: 100%;
    height: 60px;
    padding: 0 20px;
    display: grid;
    grid-template-columns: 2fr 10fr 0.4fr 1fr;
    align-items: center;
    z-index: 1;
}

.logo{
    display: flex;
    align-items: center;
}

.logo h2{
    font-weight: bold;
    font-size: 20px;
    color: var(--primeiracor);
    white-space: nowrap;
}

.logo i{
    font-size: 20px;
    margin-right: 2px;
}

.search {
    position: relative;
    width: 60%;
    justify-self: center;
}

.search input{
    width: 100%;
    height: 40px;
    padding-left: 30px;
    font-size: 16px;
    outline: none;
    border: none;
    border-radius: 10px;
    background: #ededed;
}
.search input:focus{
    border: 2px solid black;
}

.search i{
    position: absolute;
    right: 100%;
    top: 5px;
    cursor: pointer;
    color: var(--primeiracor);
}

.lupa{
    position: absolute;
    right: calc(100% - 30px);
    top: 6px;
    cursor: pointer;
    width: 1px;
    border: none;
}

/* </topbar> */



/* <sidebar> */
.sidebar{
    position: fixed;
    top: 60px;
    width: 260px;
    height: calc(100% - 60px);
    background: var(--primeiracor);
    overflow-x: hidden;
}
.mobile{
    display: none;
}
/* </sidebar> */



/* <main> */

.main {
    position: absolute;
    top: 70px;
    width: calc(100% - 260px);
    left: 260px;
    min-height: calc(100vh - 60px);
    background: var(--segundacor);
}
.config{
    display: flex;
    justify-content: center;
    align-items: center;
}
.config a{
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
    text-decoration: none;
    color: black;
}
#cards{
    width: 100%;
    padding: 35px 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
}

#card{
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--segundacor);
    border-radius: 10px;
    box-shadow: 1px 4px 8px 2px rgb(0, 0, 0, 0.08);
}

.cards{
    width: 100%;
    padding: 35px 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
}
.card{
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--segundacor);
    border-radius: 10px;
    width: 100%;
    box-shadow: 1px 4px 8px 2px rgb(0, 0, 0, 0.08);
}

.number {
    font-size: 35px;
    font-weight: 500;
    color: var(--primeiracor);
}
.card-name {
    color: #888;
    font-weight: 600;
}
.icon-box i {
    font-size: 45px;
    color: var(--primeiracor);
}

.search-ano{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search-ano .search input{
    width: 200px;
    height: 40px;
    padding-left: 30px;
    font-size: 18px;
    outline: none;
    border: none;
    border-radius: 10px;
    background: #ededed;
}
/* <charts> */
.charts {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 20px;
    width: 100%;
    padding: 20px;
    padding-top: 0;
}

.chart{
    background: var(--segundacor);
    padding: 20px;
    border-radius: 10px;
    width: 100%;
}

.chart h2{
    margin-bottom: 5px;
    color: var(--primeiracor);
    text-align: left;
    font-weight: bold;
    font-size: 20px;
    margin-left: 10px;
}
/* </charts> */

/* </main> */

/* ------- Resposividade ------- */
@media (max-width:1115px){
    .sidebar{
        width: 60px;
    }

    .main {
        left: 60px;
        width: calc(100% - 60px);
    }
}

@media (max-width:880px){
    /* <main> */
    .search-ano{
        display: block;
    }
    .chart h2{
        font-size: 14px;
    }
    .lupa{
        display: none;
    }
    #doughnut-chart {
        padding: 50px;
    }
    #doughnut {
        padding: 50px;
    }
    .charts{
        grid-template-columns: 1fr;

    }
    /* </main> */

}
@media (max-width:500px){
    
    /* <topbar> */
    .topbar{
        grid-template-columns: 0.4fr 5fr 0.4fr 2fr;
    }
    .logo h2{
        font-size: 16px;
    }
    .logo i{
        font-size: 16px;
    }
    .search{
        width: 80%;
    }
    .search input{
        padding: 0 10px;
    }
    .avatar{
        width: 100%;
    }
    .desktop{
        display: none;
    }
    .mobile{
        display: block;
    }
    
    /* </topbar> */

    /* <main> */
    #cards{
        grid-template-columns: 1fr;
    }
    .cards{
        grid-template-columns: 1fr;
    }
    #doughnut-chart{
        padding: 10px;
    }
    #doughnut{
        padding: 0;
    }
    /* </main> */
}